<article class="post">
    <div class="title">
        <p class="title-content">
            {{ title }}
         </p>
        created by {{ user.username }} at {{format_date created_at }}
    </div>
    <div class="meta">
            {{ content }}
    </div>
</article>