<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    {{!-- header --}}
    <header>
        <div class="nav-bar">
            <div>
                Home
            </div>
            <div>
                Dashboard
            </div>
            <div>
                Login
            </div>
            <div>
                Log Out
            </div>
        </div>
        <div class="header-title">
            <h1>
                The Tech Blog
            </h1>
        </div>
      
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

</body>

</html>