{{!-- dashboard page --}}

{{!-- added dashboard styles --}}
<style>
  button {
    height: 40px;
    margin-top: 10px;
  }
  h2 {
    text-align: center;
    font-size: 30px;
  }
</style>
<div class="box">
  {{!-- the button for a new post --}}
<a href="/new"><button>New Post</button></a>
</div>
<br/>
{{!-- show the user's active posts --}}
{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      {{!-- edit post button --}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link"><button>Edit Post</button></a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}