<div class="box">
  <a class="link" href="/dashboard"> &larr; Back to dashboard</a>
</div>
<br/>

<section class="box">
  <form class="new-post-form">
    <div class="form-title">
        <h2>Add A Post</h2>
    </div>
    <div class="form-content">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-content">Content</label>
            <textarea id="post-content" name="post-content"></textarea>
        </div>
        <button type="submit" class="btn">Create</button>
    </div>
  </form>
</section>

<script src="/javascript/add-post.js"></script>