/* Main page scripts */
* {
    box-sizing: border-box;
}
  
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: rgb(2, 2, 2);
    text-decoration: none;
    background-color: rgb(231, 241, 255);
}

main {
    flex: 1;
    padding: 2% 4%;
    justify-content: center;
  }

/* Center objects on the page */
.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Header Styles */
header {
    padding: 30px;
    text-align: left;
    background-color: rgb(68, 108, 160); 
}
.header-title {
  border: 2px;
  border-radius: 5px;
  border-color: rgb(231, 241, 255);
  background-color:rgb(231, 241, 255);
  padding: 5px;
  width: 300px;
  text-align: center;
}
.nav_bar {
    font-size: medium;
    color: rgb(231, 241, 255);
}
nav {
  padding-bottom: 20px;
  color: rgb(231, 241, 255);
  font-size: 20px;
  
}
.nav {
  font-weight: bold;
  padding-right: 40px;
}

/* Text Styles */
h1 {
    font-size: 40px;
}
a {
  text-decoration: none;
  color: rgb(231, 241, 255);
  
}
a:hover {
  color: #72acf3;
}
.meta {
  padding: 10px;
  text-decoration: none;
  color: black;
}
.link {
  color: black;
}
i {
  font-size: larger;
}


/* Post Styles */
.post-list {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
.post {
    padding-bottom: 10px;
    margin-bottom: 2%;
    line-height: 150%;
    background-color: rgb(231, 241, 255);
    border: 2px solid rgb(68, 108, 160);
    text-decoration: none;
    filter: drop-shadow(16px 16px 2px rgb(68, 108, 160));
}
.post-single {
    width: 100%;
}
.title {
    background-color: rgb(68, 108, 160);
    color: rgb(231, 241, 255);
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-content {
    font-size: 20px;
}
.post .title span {
    font-style: italic;
    font-size: 30px;
    color: rgb(0, 67, 155);
}
li {
    list-style: none;
}
.post-list {
  margin: 0;
  padding: 0;
}

/* button styles */
button {
    background-color: #225ca3;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    font-size: medium;
}
button:hover {
    background-color: #3486eb;
}
.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color:rgb(231, 241, 255);
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #72acf3;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}
.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}
  
/* Form Styles */
  
textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
}
textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
}
textarea {
    min-width: 90%;
    min-height: 50px;
    background-color: rgb(243, 248, 255);
}
form {
    background-color: rgb(231, 241, 255);
    border: 2px solid rgb(68, 108, 160);
    text-decoration: none;
    filter: drop-shadow(16px 16px 2px rgb(68, 108, 160));
    width: 400px;
}
.form-title {
    background-color: rgb(68, 108, 160);
    color: rgb(237, 243, 250);
    padding: 10px;
    margin: 0;
    text-align: center;
}
.form-content {
    padding: 20px;
    display: block;
    text-align: center;
}
form div {
      padding: 10px;
}
form label {
    display: block;
}
form input {
      height: 35px;
      min-width: 90%;
      background-color: rgb(243, 248, 255);
}
.comment-form {
    margin-bottom: 5%;
}
.new-post-form input {
  width: 300px;
}
.edit-post-form {
  margin-bottom: 5%;
}

/* Comment Styles */
.comment {
    padding: 1%;
    margin-bottom: 1%;
} 
.comment:nth-child(odd) {
    background-color: rgb(243, 248, 255);
}
.comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
/* footer styles */

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}